body {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h1 {
    color: antiquewhite;
    position: relative;
    top: 20px;
    margin: auto;
    font-size: 48px;
}

.top {
    background-image: url('city%20buildings%20night.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;
}

.bottom {
    background-image: url('blurred%20lights%20city.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;
}

.middle {
    background-image: url('sparks.jpg');
    background-size: cover;
    width: 100%; 
    height: 620px;
}

